@model NJInsurancePlatform.Models.Claim
@{

}
<style>
    .claim-main-container{
        display:flex;
        flex-direction: column;
    }
    .claim-details-row{
        display: flex;
        flex-direction: row;
    }

</style>

<div class="claim-main-container">
    <div class="claim-title">
        <h3>Make a Claim</h3>
    </div>
    <div class="claim-details-row">

    </div>

</div>
