@model NJInsurancePlatform.Models.CustomerPolicyRequestViewModel
@{
    ViewData["Title"] = "Customer Policy Request";
}

<!--CSS-->
<style>
    html,body{
        margin:0px;
        
    }
    .ProductRequestContainer{
        width:100%;
        height:90%;
        border:3px solid;
    }

</style>

<!--Main container-->
<div class="ProductRequestContainer">

</div>

