@model NJInsurancePlatform.Models.CustomerPolicyRequestViewModel
@{
    ViewData["Title"] = "Customer Policy Request";
}

<!--Add CSS To Header-->
<head>
   <link rel="stylesheet" href="~/css/CustomerPolicyRequestView.css" />
</head>

<!--Main container-->
<div class="ProductRequestContainer">

</div>

