@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

 <style>
     .details_box{
         border-radius: 2%;
         border: 2px solid black;
         padding: 5% 10%;
         margin: 10%;
     }

 </style>



<div class="container" style="border-radius: 2%; border: 2px solid black; padding: 5% 10%, margin-right: 10%; margin-left: 15%;">
    <div class="row" style=" border-bottom: 2px solid black; margin-bottom:0;">
        <div class="col s12" style="justify-content: center; align-items: center; font-size:40px;">Eli Manning</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: white; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">Date Created:</div>
        <div class="col s6" style="font-size: 18px;">@DateTime.Now.ToString()</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: lightblue; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">License Number:</div>
        <div class="col s6" style="font-size: 18px;">MANNI030181</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: white; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">Primary Policy Holder:</div>
        <div class="col s6" style="font-size: 18px;">Elisha Manning</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: lightblue; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">Is Active?</div>
        <div class="col s6" style="font-size: 18px;">Yes, Currently Online</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: white; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">Gender:</div>
        <div class="col s6" style="font-size: 18px;">Male</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: lightblue; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">Email Address:</div>
        <div class="col s6" style="font-size: 18px;">NotOmaha@gmail.com</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: white; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">Phone Number:</div>
        <div class="col s6" style="font-size: 18px;">3159891460</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: lightblue; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">Address:</div>
        <div class="col s6" style="font-size: 18px;">12 Danby Rd</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: white; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">City:</div>
        <div class="col s6" style="font-size: 18px;">Ithica</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: lightblue; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">State:</div>
        <div class="col s6" style="font-size: 18px;">NY</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: white; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">ZIP code:</div>
        <div class="col s6" style="font-size: 18px;">14850</div>
    </div>
    <div class="row" style=" border-bottom: 2px solid black; background-color: lightblue; margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px;">Current Employer:</div>
        <div class="col s6" style="font-size: 18px;">ESPN</div>
    </div>
    <div class="row" style=" margin-bottom: 0%;">
        <div class="col s6" style="font-size: 18px; border-radius:3%">SSN</div>
        <div class="col s6" style="font-size: 18px; border-radius:3%;">XXX-XX-6132</div>
    </div>
</div>





 <script type="text/javascript" src="~/js/materialize.min.js"></script>