@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

    <div class="row">
      <h2>firstName lastName</h2>
      <div class="col s6">
          <h5>Created Date</h5>
          <h5>License Number</h5>
          <h5>Primary Policy Holder</h5>
          <h5>Is Active</h5>
          <h5>Gender</h5>
          <h5>Email Address</h5>
          <h5>Phone Number</h5>
          <h5>SSN</h5>
          <h5>Address</h5>
          <h5>City</h5>
          <h5>Zipcode</h5>
          <h5>State</h5>
          <h5>Current Employer</h5>
          <h5>SSN</h5>
      </div>
      @*Customers account information here*@
      <div class="col s6">
          <h5>Created Date</h5>
          <h5>License Number</h5>
          <h5>Primary Policy Holder</h5>
          <h5>Is Active</h5>
          <h5>Gender</h5>
          <h5>Email Address</h5>
          <h5>Phone Number</h5>
          <h5>SSN</h5>
          <h5>Address</h5>
          <h5>City</h5>
          <h5>Zipcode</h5>
          <h5>State</h5>
          <h5>Current Employer</h5>
          <h5>SSN</h5>
          <a class="waves-effect waves-light btn">Click To Reveal</a>
      </div>
    </div>   
 <script type="text/javascript" src="~/js/materialize.min.js"></script>