#PolicyList {
    border: 3px solid;
}

.center-align {
    background-color: #8080807f;
}

.welcome-container {
    position: relative;
    top: -1.75rem;
    display: flex;
    justify-content: space-between;
    background: rgb(40,53,147);
    background: linear-gradient(90deg, rgba(40,53,147,1) 36%, rgba(40,176,251,0.7267951858477766) 100%);
}

.welcome-left {
}

.weather-right {
    text-align: right;
}

.policy-tab {
    border: 2px solid #58585b;
    border-radius: 10px;
    margin: 25px 70px 75px;
    padding: 0;
    box-sizing: border-box;
}

#swipe-1 {
    height: auto;
}

/*GalaxE Blue color for indicator line */
.tabs .indicator {
    background-color: #1072ba;
}

/*Color for tab and text when clicked*/
.tabs .tab a:focus.active {
    background-color: #00294d;
    color: #ffffff;
}

.tabs .tab a {
    color: #00294d;
}

    .tabs .tab a.active {
        color: #00294d;
    }

    .tabs .tab a:hover {
        color: #1072ba;
    }