#PolicyList {
    border: 3px solid;
}

.center-align {
    background-color: #8080807f;
}

.welcome-container {
    position: relative;
    top: -1.75rem;
    display: flex;
    justify-content: space-between;
    background: rgb(40,53,147);
    background: linear-gradient(90deg, rgba(40,53,147,1) 36%, rgba(40,176,251,0.7267951858477766) 100%);
}

.weather-right {
    text-align: right;
}

.policy-tab {
    border: 2px solid #58585b;
    border-radius: 10px;
    margin: 25px 70px 75px;
    padding: 0;
    box-sizing: border-box;
}

#swipe-1 {
    height: auto;
}

/*GalaxE Blue color for indicator line */
.tabs .indicator {
    background-color: #1072ba;
}

/*Color for tab and text when clicked*/
.tabs .tab a:focus.active {
    background-color: #00294d;
    color: #ffffff;
}

.tabs .tab a {
    color: #00294d;
}

    .tabs .tab a.active {
        color: #00294d;
    }

    .tabs .tab a:hover {
        color: #1072ba;
    }

/* Weather Images */

.freezing_rain_heavy {
    background-image: url("/images/freezing_rain_heavy.svg");
}

.freezing_rain {
    background-image: url("/images/freezing_rain.svg");
}

.freezing_rain_light {
    background-image: url("/images/freezing_rain_light.svg");
}

.freezing_drizzle {
    background-image: url("/images/freezing_drizzle.svg");
}

.ice_pellets_heavy {
    background-image: url("/images/ice_pellets_heavy.svg");
}

.ice_pellets {
    background-image: url("/images/ice_pellets.svg");
}

.ice_pellets_light {
    background-image: url("/images/ice_pellets_light.svg");
}

.snow_heavy {
    background-image: url("/images/snow_heavy.svg");
}

.snow {
    background-image: url("/images/snow.svg");
}

.snow_light {
    background-image: url("/images/snow_light.svg");
}

.flurries {
    background-image: url("/images/flurries.svg");
}

.tstorm {
    background-image: url("/images/tstorm.svg");
}

.rain_heavy {
    background-image: url("/images/rain_heavy.svg");
}

.rain {
    background-image: url("/images/rain.svg");
}

.rain_light {
    background-image: url("/images/rain_light.svg");
}

.drizzle {
    background-image: url("/images/drizzle.svg");
}

.fog_light {
    background-image: url("/images/fog_light.svg");
}

.light_fog {
    background-image: url("/images/fog_light.svg");
}

.fog {
    background-image: url("/images/fog.svg");
}

.cloudy {
    background-image: url("/images/cloudy.svg");
}

.mostly_cloudy {
    background-image: url("/images/mostly_cloudy.svg");
}

.partly_cloudy {
    background-image: url("/images/partly_cloudy_day.svg");
}

.mostly_clear {
    background-image: url("/images/mostly_clear_day.svg");
}

.clear {
    background-image: url("/images/mostly_clear_day.svg");
}