@*JUST PAGE CREATE JUST TO TEST FUNCTIONALITY OF CODE*@

<style>
    nav, footer {
        display: none;
    }
   
</style>


<div>
    <h1>Access Denied!</h1>
    you Don't Have Access To this page.
</div>

@*JUST PAGE CREATE JUST TO TEST FUNCTIONALITY OF CODE*@

