@*JUST PAGE CREATE JUST TO TEST FUNCTIONALITY OF CODE*@

<div class="center-align">
    <h1>Access Denied!</h1>
    You do not have access to this page.
      <br/> <br/>
      <i class="material-icons large">warning</i>
     <h1>404</h1>
  
    <div class="login-submit-button-container">
               <!-- <input  type="submit" value="Submit" class="btn btn-primary" /> -->
                <a href="/Home" class="waves-effect waves-light btn-large white" style="border-radius: 40px;width:20%;color:purple; font-weight:600"> <i class="material-icons left">keyboard_arrow_left</i>Back</a>
                <br/><br/>
    </div>

</div>



@*JUST PAGE CREATE JUST TO TEST FUNCTIONALITY OF CODE*@

