@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "All Current Roles";
}

@if (Model.Any())
{
    <a class="" style="width:auto" asp-action="CreateRole" asp-controller="Administration">Add New</a>
    foreach(var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Administration" asp-action="EditRole" asp-route-Id="@role.Id">Edit</a>
                <button class="btn waves-effect waves-light red" asp-controller="Administration" asp-action="DeleteRole" asp-route-id="@role.Id">DELETE</button>
            </div>
        </div>
    }
}
else{
    <div class="card">
        <div class="card-header">
            You Have Not yet Created Any Roles.
        </div>
        <div class="card-body">
            <h5 class="card-title">Click Below To Create Role</h5>
            <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole" style="width: auto">Create Role</a>

        </div>

    </div>
}

<div style="display:flex;justify-content:space-between;align-items:center; width:100%;padding-left:20%;padding-right:20%;">
    <a href="/policy/policyRequest" style="font-size:20px;" class="btn btn-primary">Approve Policy Requests</a> 
    <a style="font-size:20px;" href="/Administration/SearchAllTransactions" class="btn btn-primary">Approve Transactions</a> 
</div>

