@{
	ViewData["Title"] = "Update Recorded!";
}
<div style="display:flex;justify-content:center;">
	<span style="font-size:20px"><a href="/Administration/SearchAllTransactions">Go Back To Search</a></span>

</div>

