@{
	ViewData["Title"] = "Update Recorded!";
}

<br/>
<a href="/Administration/UnpaidTransactions">Go To Unpaid Transactions</a>
<br/>
<a href="/Administration/paidTransactions">Go To Paid Transactions</a>