html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.dark-mode {
    background-color: #110040;
    color: white;
    /* Created with https://www.css-gradient.com */
    background: #42464B;
    background: -webkit-radial-gradient(bottom right, #42464B, #110040);
    background: -moz-radial-gradient(bottom left, #42464B, #110040);
    background: radial-gradient(to top right, #42464B, #110040);
}

main {
    width: 100vw;
    margin-bottom: 75px; /* Margin so footer does not touch content on pages */
}

/* Footer Positioning */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Global Border Style */
#border {
    border: solid 2px grey;
    border-radius: 15px;
}

/* Global Button Style */
#btn {
    border: solid 1px grey;
    margin: 1rem;
    border-radius: 2rem;
    background-color: white;
    color: midnightblue;
    font-weight: 700;
}