html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family:Outfit;
  margin-bottom: 60px;
}

.dark-mode {
    background-color: #110040;
    color: white;
    /* Created with https://www.css-gradient.com */
    background: #42464B;
    background: -webkit-radial-gradient(bottom right, #42464B, #110040);
    background: -moz-radial-gradient(bottom left, #42464B, #110040);
    background: radial-gradient(to top right, #42464B, #110040);
}

main {
    padding-bottom: 50px;
}

footer {
    padding-top: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logout {
    background-color: transparent;
    color: white;
    border: none;
}

.logout-hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
}