html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}

.dark-mode {
    background-color: #110040;
    color: white;
    /* Created with https://www.css-gradient.com */
    background: #42464B;
    background: -webkit-radial-gradient(bottom right, #42464B, #110040);
    background: -moz-radial-gradient(bottom left, #42464B, #110040);
    background: radial-gradient(to top right, #42464B, #110040);
}

main {
    padding-bottom: 50px;
    width: 95vw;
}

footer {
    padding-top: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logout {
    background-color: transparent;
    color: white;
    border: none;
}

.logout-hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#border {
    border: solid 2px grey;
    border-radius: 15px;
}
#btn {
    border: solid 1px grey;
    margin: 1rem;
    border-radius: 2rem;
    background-color: white;
    color: midnightblue;
    font-weight: 700;
}
/* Message Page*/
#messages-wrapper {
    height: 70%;
    overflow: auto;
    padding: 1rem;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}

#messages {
    width: 75%;
    border: solid 1px grey;
    border-radius: 3rem;
    padding: 1rem;
}

#message-box {
    height: 20%;
    display: flex;
    flex-direction: row;
}

#message-input {
    flex-grow: 4;
    overflow: hidden;
    height: 90%;
    margin: auto 0;
}
#button-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
}