@{
    ViewData["Title"] = "Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    body {
        overflow-x: hidden;
    }

    .FAQSearchContainer {
        color: white;
        background-color: #5c6bc0;
        font-family: 'Lucida Sans';
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        margin-top: -25px;
    }

    #searchBar {
        background-color: white;
        width: 1500px;
        border-radius: 10px;
        text-indent: 10px;
    }

    ::-webkit-input-placeholder {
        text-indent: 10px;
    }

    :-moz-placeholder {
        text-indent: 10px;
    }

    .qAndAContainer {
        margin-top: 20px;
    }
    .collapsible-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-family: 'Lucida Sans';
    }

    .collapsible-body span {
        font-family: 'Franklin Gothic Medium';
    }


</style>

  <div class="FAQSearchContainer">
          <input type="text" id="searchBar" placeholder="Search" />
  </div>
  <div class="qAndAContainer">
        <div class="row">
            <div class="col s6">
                <ul class="collapsible expandable">
                    <li>
                        <div class="collapsible-header"><h4>Question </h4><i class="large material-icons">add</i></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><h4>Question </h4><i class="material-icons">add</i></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><h4>Question </h4><i class="material-icons">add</i></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><h4>Question </h4><i class="material-icons">add</i></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><h4>Question </h4><i class="material-icons">add</i></div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                </ul>
            </div>
            <div class="col s6">
            <ul class="collapsible expandable">
                @foreach (var faq in Model)
                {
                    <li>
                        <div class="collapsible-header"><h4>@faq.Question </h4><i class="material-icons">add</i></div>
                        <div class="collapsible-body"><span>@faq.Answer</span></div>
                    </li>
                }
            </ul>
            </div>
        </div>
  </div>