@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #PolicyList {
        border: 3px solid;
        border-radius: 3%;
    }
</style>

<div class="row" style="margin-top: 100px">
    <div class="col s4 center-align">
        <h4>Policy List</h4>
        <table class="highlight centered responsive-table" id="PolicyList" style="border-radius: 3%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Policy 1</td>
                    <td></td>
                    <td>01/11/2020</td>
                </tr>
                <tr>
                    <td>Policy 2</td>
                    <td></td>
                    <td>02/22/2022</td>
                </tr>
                <tr>
                    <td>Policy 3</td>
                    <td></td>
                    <td>03/03/2023</td>
                </tr>
            </tbody>
        </table>
        <a href="/Policy/PolicyRequest" class="waves-effect waves-light btn right light-blue" style="margin-top: 30px">Request A Policy</a>
    </div>
    <div class="col s4 right">
        <div class="row">
            <h5 class="center-align"><i class="material-icons small" style="color: red">priority_high</i>Policy Payment Due</h5>
            <div class="divider"></div>
            <h6>Policy 1</h6>

        </div>
        <div class="row" style="margin-top: 100px">
            <h5 class="center-align">Upcoming Policy Payments</h5>
            <div class="divider"></div>
            <h6>Policy 1</h6>
            <h6>Policy 3</h6>
        </div>
    </div>

</div>


