@{

}

<div class="landingpage-container" >
    <div class="landingpage-header" >
        <div class="landingpage-header-content">
            <span class="landingpage-left-title">Health Insurance</span>
            <span class="landingpage-right-title">Easiest way to buy your health Insurance</span>
        </div>
    </div>
    <div class="landingpage-content" >
        <div class="landingpage-content-left" >
            <div class="landingpage-content-left-header">
                <p style="line-height:1.1;"> <span class="landingpage-content-left-header-begin">Protect your family</span><span class="landingpage-content-left-header-end"> with affordable health Insurance</span></p>
            </div>            
            <div class="landingpage-content-left-content">
                <p style="line-height:1.1;"> <span class="landingpage-content-left-details">NJInsurancePlatform.com Shows You How To Actually Save Money On Health Insurance In Just Minutes.</span></p>

            </div>            
            <div class="landingpage-content-left-bullet-points-container">
                <div class="landingpage-content-left-bullet-points">
                    + FAST AND FREE ONLINE QUOTE
                </div>                
                <div class="landingpage-content-left-bullet-points">
                    + COMPARE POLICIES SIDE BY SIDE
                </div>                
                <div class="landingpage-content-left-bullet-points">
                    + SAVES YOU TIME AND MONEY
                </div>                
            </div>
            <div class="landingpage-content-left-button-container">
                 <a href="/Home/SignUp"><button class="landingpage-content-left-button">GET FREE QUOTE</button></a>
             </div>
        </div>
        <div class="landingpage-content-right" ></div>
    </div>
</div>