

<div class="landingpage-container" >
    <div class="landingpage-header" >
        <div class="landingpage-header-content">
            <span class="landingpage-left-title">Health Insurance</span>
            <span class="landingpage-right-title">Easiest way to buy your health Insurance</span>
        </div>
    </div>
    <div class="landingpage-content" >
        <div class="landingpage-content-left" >LEFT</div>
        <div class="landingpage-content-right" >RIGHT</div>
    </div>
</div>