@model NJInsurancePlatform.Models.ApplicationUser
@{
    ViewData["Title"] = "Login";
}

<style>
    .login-box{
        border: 1px solid;
        align-items: center;
        padding: 40px;
    }
    .login-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    .login-input-row{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: end;
        height: 60px;
        border-bottom: 1px solid;
        margin-left:0;
    }
    .login-input-box{
        height: 50%;
    }


</style>




<div class="login-container">
        <form class="login-box" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="login-input-row">
                <i class="material-icons left">account_circle</i>
                <label asp-for="UserName" hidden></label>
                <div class="login-input-box">
                <input style="border:none;height:100%;" type="text"  placeholder="User Name" asp-for="UserName" />
                </div>
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>

            <div class="login-input-row">
                <i class="material-icons left">enhanced_encryption</i>
                <label asp-for="PasswordHash" hidden></label>
                <div class="login-input-box">
                <input style="border:none;height:100%;" type="password" placeholder="Enter Password" asp-for="PasswordHash" />
                </div>
            </div>
            <span asp-validation-for="PasswordHash" class="text-danger"></span>

            <div class="form-group">
                <input  type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
</div>