@model NJInsurancePlatform.Models.LoginViewModel
@{
    ViewData["Title"] = "User Login";
}

<style>
    .login-box{
        display: flex;
        flex-direction: column;
        border: 1px solid;
        align-items: center;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        padding: 0px 40px 10px 40px;
        width: 30%;
        border-radius: 10px;
        padding-top:2%;
    }
    .login-heading-text{
        font-family:sans-serif;
        color: purple;
        font-weight: 700;
    }
    .login-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .login-input-row{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width:100%;
        height: 80px;
        border-bottom: 1px solid;
        border-color: silver;
        margin-left:0;
    }
    .login-input-box{
        height: 30%;
    }

    .login-submit-button-container{
        text-align: center;
    }
</style>

<div class="login-container">
@*    <div style="font-size:30px;font-weight:700;color:#1072ba">LOGIN</div>
*@    <div class="login-box">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="login-input-row">
                <i class="material-icons left indigo-text">person_outline</i>
                <label asp-for="UserName" hidden></label>
                <div class="login-input-box">
                <input style="border:none;height:100%; width:100%;text-align:center;" type="text"  placeholder="User Name" asp-for="UserName" />
                <br/>
                <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>

            <div class="login-input-row">
                <i class="material-icons left indigo-text">lock_outline</i>
                <label asp-for="PasswordHash" hidden></label>
                <div class="login-input-box">
                <input style="border:none;height:100%; width:100%;text-align:center;" type="password" placeholder="Password" asp-for="PasswordHash" />
                <br/>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>    
            </div>
            </div>
            <br/>
            <div class="login-submit-button-container">
               <!-- <input  type="submit" value="Submit" class="btn btn-primary" /> -->
                <a href="/Home/ForgotPassword">Forgot Password</a><br/><br/>
                <button type="submit" class="waves-effect waves-light btn-large" id="btn">Login<i class="material-icons right">login</i></button>
                <br/><br/>
            </div>
        </form>
    </div>
</div>