@model NJInsurancePlatform.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .login-box{
        border: 1px solid;
        align-items: start;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
        padding: 0px 90px 30px 20px;
    }
    .login-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
    .login-input-row{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: end;
        height: 80px;
        width: 80%;
        border-bottom: 1px solid;
        margin-left:0;
    }
    .login-input-box{
        height: 30%;
    }

    .login-submit-button-container{
        text-align: left;
    }
</style>


<div class="login-container">
        <form class="login-box" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="login-input-row">
                <i class="material-icons left">account_circle</i>
                <label asp-for="UserName" hidden></label>
                <div class="login-input-box">
                <input style="border:none;height:100%;" type="text"  placeholder="User Name" asp-for="UserName" />
                </div>
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>

            <div class="login-input-row">
                <i class="material-icons left">enhanced_encryption</i>
                <label asp-for="Password" hidden></label>
                <div class="login-input-box">
                <input style="border:none;height:100%;" type="password" placeholder="Enter Password" asp-for="Password" />
                </div>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
            <br/>
            <div class="login-submit-button-container">
               <!-- <input  type="submit" value="Submit" class="btn btn-primary" /> -->
                <button type="submit" class="waves-effect waves-light btn-large white" style="border-radius: 40px;width:100%;color:black;">Submit<i class="material-icons right">keyboard_arrow_right</i></button>
                <br/><br/>
                <a>Forgot Password</a>
            </div>
        </form>
</div>