@model NJInsurancePlatform.Models.User

@{
    ViewData["Title"] = "SignUp";
}
<style>

</style>

<div class="row">
    <div class="row">
        <h4 class="center">Create an Account</h4>
    </div>

    <div class="row" style="border: 2px solid; border-radius: 10px">
        <form class="col s12">
            <div class="row" style="margin: 10px">

                <div class="input-field col s12">
                    <input placeholder="" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="phone_number" type="text" class="validate">
                    <label for="phone_number">Phone Number</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="social_security" type="text" class="validate">
                    <label for="social_security">Social Security</label>
                </div>


                <div class="input-field col s12">
                    <input placeholder="" id="license_number" type="text" class="validate">
                    <label for="license_number">License Number</label>
                </div>

                <label>Gender</label>
                <div class="input-field col s12">
                    <select class="browser-default">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>

                <div>
                    <p>
                        <label>
                            <label>Are you the Primary Account Holder?</label>
                            <input name="group1" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label>
                            <input name="group1" type="radio" checked />
                            <span>No</span>
                        </label>
                    </p>
                </div>

                <div class="row">
                    <div class="col s12 m6 l3"><a class="waves-effect waves-light btn">Sign Up</a></div>
                    <div class="col s12 m6 l3"><a>or Login</a></div>
                </div>
            </div>
        </form>
    </div>
</div>