@model NJInsurancePlatform.Models.ApplicationUser

@{
    ViewData["Title"] = "SignUp";
}
<style>

</style>

<div class="row">
    <div class="row">
        <h2 class="header center">Create an Account</h2>
    </div>

    <div class="row" style="border: 2px solid; border-radius: 10px">
        <form class="col s12">
            <div class="row" style="margin: 10px">

                <div class="input-field col s12">
                    <input placeholder="" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="phone_number" type="text" class="validate">
                    <label for="phone_number">Phone Number</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="social_security" type="text" class="validate">
                    <label for="social_security">Social Security</label>
                </div>


                <div class="input-field col s12">
                    <input placeholder="" id="license_number" type="text" class="validate">
                    <label for="license_number">License Number</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="gender" type="text" class="validate">
                    <label for="gender">Gender</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="current_address" type="text" class="validate">
                    <label for="current_address">Address</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="current_city" type="text" class="validate">
                    <label for="current_city">City</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="current_state" type="text" class="validate">
                    <label for="current_state">Current State</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="" id="current_employer" type="text" class="validate">
                    <label for="current_employer">Current Employer</label>
                </div>

                <div>
                    <p>
                        <label>
                            <label>Are you the Primary Account Holder?</label>
                            <input name="group1" type="radio" checked />
                            <span>Yes</span>
                        </label>
                        <label>
                            <input name="group1" type="radio" checked />
                            <span>No</span>
                        </label>
                    </p>
                </div>

                <div class="row">
                    <div class="col s2"><a class="waves-effect waves-light btn">Sign Up</a></div>
                    <div class="col s2"><h6>or Login</h6></div>
                </div>
            </div>
        </form>
    </div>
</div>