@model NJInsurancePlatform.Models.MessagesViewModel
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    footer {
        display: none;
    }
</style>
<form>
<div class="row" id="border" style="height: 70vh; width: 95vw">

    <div class="col s3" style="height: 93%">
        <button class="waves-effect waves-light btn btn-large white modal-trigger" id="btn" href="#modal1"><i class="material-icons left">add</i>Add Group</button>
     

        <div class="collection" style="height: 92%; overflow: auto">
            @for (int i = 0; i < Model.groupRooms?.Count; i++)
            {
                <a class="collection-item">
                    <span class="new badge indigo">4</span>
                    <img src="~/images/Gx-Icon-Color.png" style="height: 30px">
                    <b class="truncate indigo-text">@Model.groupRooms[i].Name</b>
                </a>
            }
        </div>
    </div>

    <div class="col s9" style="height: 94%; width: 75%">
        <h4 class="center indigo-text">Group Name</h4>

        <div id="messages-wrapper">
            @for (int i = 0; i < 10; i++)
            {
                <p class="left indigo lighten-4" id="messages">
                    Received: @DateTime.Now.ToString("hh:mm tt") <br>
                    The overflow property specifies whether to clip
                    content or to add scrollbars when an element's
                    content is too big to fit in a specified area.
                </p>

                <p class="right indigo lighten-5" id="messages">
                    Sent: @DateTime.Now.ToString("hh:mm tt") <br>
                    The overflow property specifies whether to clip
                    content or to add scrollbars when an element's
                    content is too big to fit in a specified area.
                </p>
            }
        </div>


        <div id="message-box">
            <div class="input-field" id="message-input">
                <textarea id="message-textarea" class="materialize-textarea"style="height: 100%"></textarea>
                <label for="message-textarea">Message</label>
            </div>

            <div id="button-wrapper">
                <div class="file-field input-field">
                    <div class="btn-floating indigo">
                        <input type="file">
                        <i class="material-icons">attach_file</i>
                    </div>
                </div>
                <a class="btn-floating waves-effect waves-light right indigo"><i class="material-icons">send</i></a>
            </div>
        </div>
    </div>
</div>
</form>

    <!-- Modal Structure -->
    <div id="modal1" class="modal bottom-sheet" style="padding:1rem; background: rgba(10, 50, 100, 0.7)">
        <form method="post">
            <div class="modal-content">
                <div class="row">
                    @*<a style="width:25%; margin: 1%; border-radius: 40px;color:purple; font-weight:600" class='dropdown-trigger btn btn-large white waves-effect waves-light' href='#' data-target='dropdown1'>My Policies  ^</a>
                    <ul id='dropdown1' class='dropdown-content'>
                    <label asp-for="PolicyMUID" hidden></label>
                    <li asp-for="PolicyMUID"><input readonly type="text" asp-for="PolicyMUID"/>6B29FC40-CA47-1067-B31D-00DD010662DA</li>
                    <li class="divider" tabindex="-1"></li>
                    <li asp-for="PolicyMUID"><input readonly type="text" asp-for="PolicyMUID" />6B29FC40-CA47-1067-B31D-4MJ7F5HG7JNM</li>
                    </ul>
                    <br />
                    commented out above is the dropdown*@
                    <input readonly placeholder="00000000-0000-0000-0000-000000000000" type="text" for="PolicyMUID">
                    <label for="PolicyMUID">Policy ID</label>
                </div>
                <div class="row">
                    <input readonly placeholder=@DateTime.Now.ToString() type="text" for="DateOfClaim">
                    <label for="DateOfClaim" for="DateOfClaim">Date of Claim</label>
                </div>
                <div class="row">
                    <input placeholder="Description" type="text" for="ClaimUserDescription">
                    <label for="ClaimUserDescription" for="ClaimUserDescription">Description</label>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn" id="btn">Submit</button>
            <a href="#!" class="modal-close waves-effect waves-black white-text btn-flat">Close out</a>
        </form>
    </div>
</div>