
@*TESTING FUNCTIONALIY OF ROLE CREATION AND FUNCTION*@

@inject SignInManager<ApplicationUser> signInManager;

@*TESTING FUNCTIONALIY OF ROLE CREATION AND FUNCTION*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insurance</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
    <div class="nav-wrapper">
              <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="/Home/Privacy">Privacy</a>
                    </li>
                    <li>
                        <a href="/Payment/Details">Policy Payment Details</a>
                    </li>
                     <li>
                        <a href="/Policy/PolicyDetails">Policy Details</a>
                    </li>

                    @*TESTING FOR CODE FUNCTIONALITY OF ROLE CREATION BELOW*@
                        @if (signInManager.IsSignedIn(User))
                        {
                        <li>
                            <form method="post">
                                <li>
                                    <button type="submit" asp-controller="Home" asp-action="Logout" style="background-color:transparent; color: white; border: none">Test Logout @User.Identity.Name</button>
                                </li>

                                @if(User.IsInRole("Admin"))
                                {
                                  <li>
                                      <a href="/Administration/CreateRole" >ADMIN CreateRole</a>
                                  </li>
                                  <li>
                                      <a href="/Administration/GetRoles" >ADMIN GetRoles</a>
                                  </li>
                                  @*IF IS ADMIN, THIS BUTTON IS VISIBLE TO CREATE, ADD, EDIT OR DELET ROLE*@
                                }
                            </form>
                        </li>
                        }
                        else
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Test Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Test Login</a>
                        </li>
                        }
                     @*TESTING FOR CODE FUNCTIONALITY OF ROLE CREATION ABOVE*@

      </ul>
    </div>
  </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NJInsurancePlatform - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
