@model NJInsurancePlatform.Models.MessagesViewModel 
           

@*            @for (int i = 0; i < Model.groupRoomMessages.Count; i++)
            {
                <p class="left indigo lighten-4" id="messages">
                    Received: @DateTime.Now.ToString("hh:mm tt") <br>
                 
                    @Model.groupRoomMessages[i].Message
                </p>

                <p class="right indigo lighten-5" id="messages">
                    Sent: @DateTime.Now.ToString("hh:mm tt") <br>
                    The overflow property specifies whether to clip
                    content or to add scrollbars when an element's
                    content is too big to fit in a specified area.
                </p>
            }*@