.policyButton {
    background-color: white;
    border-radius: 20px;
    border-width: 1px;
    width: 300px;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
