@{
    ViewData["Title"] = "Policy Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col s12 m7">
<h2 class="header">Policy Details</h2>
    <div class="Policy">
       <div class="PolicyDetails" style="border-radius:10px; border:2px solid; padding: 10px" >
            <div class="input-field col s6">
                <input placeholder="Policy Number" id="PolicyNumber" type="text" class="validate" REQUIRED>
                <label for="PolicyNumber">Policy Number</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Name of policy" id="NameOfPolicy" type="text" class="validate" REQUIRED>
                <label for="NameOfPolicy">Name of policy</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Policy Owner" id="PolicyOwner" type="text" class="validate" REQUIRED>
                <label for="PolicyOwner">Policy Owner</label>
            </div>

              <div class="input-field col s6">
                <input placeholder="Deductible" id="Deductible" type="text" class="validate" REQUIRED>
                <label for="Deductible">Deductible</label>
            </div>

              <div class="input-field col s6">
                <input placeholder="Out Of Pocket Limit" id="OutOfPocketLimit" type="text" class="validate" REQUIRED>
                <label for="OutOfPocketLimit">Out Of Pocket Limit</label>
            </div>

              <div class="input-field col s6">
                <input placeholder="Annual Limit Of Coverage" id="AnnualLimitOfCoverage" type="text" class="validate" REQUIRED>
                <label for="AnnualLimitOfCoverage">Annual Limit Of Coverage</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Policy Payment Is Due" id="PolicyPaymentIsDue" type="text" class="datepicker" REQUIRED>
                <label for="PolicyPaymentIsDue">Policy Payment Is Due</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Policy Total Amount" id="PolicyTotalAmount" type="text" class="validate" REQUIRED>
                <label for="PolicyTotalAmount">Policy Total Amount</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Policy Paid Off Amount" id="PolicyPaidOffAmount" type="text" class="validate" REQUIRED>
                <label for="PolicyPaidOffAmount">Policy Paid Off Amount</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Policy Start Date" id="PolicyStartDate" type="text" class="datepicker" REQUIRED>
                <label for="PolicyStartDate">Policy Start Date</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Policy End Date" id="PolicyEndDate" type="text" class="datepicker" REQUIRED>
                <label for="PolicyEndDate">Policy End Date</label>
            </div>
        </div>
</div>
</div>
